* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* min-height: 100vh; */
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

header.hero {
  text-align: center;
  transition: all 0.5s ease-in;
  margin-bottom: 4rem;
}

header.hero h1 {
  margin-bottom: 4rem;
  text-shadow: 3px 3px 0px #e28e2d;
  color: #2de28e;
}

header.hero button {
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  font-size: 1.25rem;
  line-height: 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #2de28e;
}

header.hero button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transform: translate(-0.05rem, -0.05rem);
  background-color: #e28e2d;
  color: white;
}

.fact-card {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 80%;
  margin: 0 auto;
}

.fact-card__flag {
  padding: 1rem;
}
.fact-card__flag img {
  display: block;
  max-width: 200px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.fact-card__fact {
  padding: 1rem;
  flex-grow: 1;
}

.fact-card__fact h3 {
  font-size: 1rem;
  line-height: 1rem;
  color: #828282;
}
